In [1]:
2+3

5

In [4]:
num = 2+3 # = assignment operator (assign value to a variable name)

print(num)

5

# Legal Variable
* letter, underscore, number 
* variable won't start from a number

In [5]:
1st_name = "waqas"

SyntaxError: invalid syntax (<ipython-input-5-867e52843326>, line 1)

In [7]:
my_name = "Waqas"

In [9]:
print(type(my_name))

<class 'str'>

In [10]:
decimal = 2.3

type(decimal)

float

In [11]:
num = 6
num + 7

13

In [19]:
num = num + 7
num

41

In [20]:
num

41

In [21]:
num += 2 # num = num + 2

In [22]:
num -= 5

num

In [23]:
num

38

In [24]:
num -=2

In [25]:
num

36

In [27]:
num /= 6

In [28]:
num

6.0

In [29]:
2/2

1.0

In [37]:
"Muhammad" + " " + my_name

'Muhammad Waqas'

In [38]:
my_name + "3"

'Waqas3'

In [39]:
my_name + str(num)

'Waqas6.0'

In [41]:
float ("2.3") # type casting

2.3

In [46]:
int(float("2.9")) # Any thing can be type cast in string, but every thing cannot be type cast in 'int' and 'float'.

2

In [48]:
str(1000$)

SyntaxError: invalid syntax (<ipython-input-48-49deabd200fe>, line 1)

In [49]:
str(1000)

'1000'